<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="Bond.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="Bond.Runtime.CSharp" version="8.0.0" targetFramework="net461" />
  <package id="FuzzyString" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CognitiveServices.Speech" version="0.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.132" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SharpDX" version="4.0.0" targetFramework="net461" />
  <package id="SharpDX.XAudio2" version="4.0.0" targetFramework="net461" />
</packages>